@charset "UTF-8";
/* CSS Document */

body
{
	margin: 0;
	padding: 0;
	background-image: url("../SiteImages/homePage.png");
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}

.box
{

	width: 300px;
	height: 500px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color:#0d0d0d;
	text-align: center;
	align-content: center;
	border-radius: 20px;
}
.box h1
{
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 700;

}

.box input[type = "text"],.box input[type = "username"]
{

	background: none;
	display: block;
	margin: 20px auto;
	text-align:center;
	border: 2px solid #cee8f2;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color:#ffffff;
	border-radius: 24px;
	transition: .25s;

}

.box input[type = "text"]:focus,.box input[type = "username"]:focus
{
	width: 250px;
	border-color: #bd7558;
}




.box input[type = "text"],.box #pass
{

	background: none;
	display: block;
	margin: 20px auto;
	text-align:center;
	border: 2px solid #cee8f2;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color:#ffffff;
	border-radius: 24px;
	transition: .25s;

}
.box #pass:focus
{
	width: 250px;
	border-color: #bd7558;
}


.box .bttn
{
	 background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  background: none;
	border: 2px solid #ffffff;
	color: #ffffff;
	border-radius: 3px;
	transition: .25s;
	cursor: pointer;

}




.box .bttn:hover
{
	background-color:#bd7558;
}


.login
{
  position: relative;
  left: 0;
	right: 25%;
  top: 48%;
  width: 100%;
  text-align: center;

}



img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 310px;
}
.box p
{
	color red;
}
.login p
{
	color: red;
}
a
{
	color: blue;
	text-decoration: none;
}
a:hover
{
	color: #bd7558;
}
