/*Navigation Bar CSS */
.container
{
	background: transparent;
}
nav
{
	font-family: "Roboto Cn", sans-serif;
	padding: 20px;
	padding-top: 10px;
 background-color: rgba(255,255,255,0.5);


}

nav ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li
{
  font-weight: 600;
  display: inline-block;
  margin-left: 70px;
  padding-top: 10px;
  position: relative;
}

nav a
{
  color:#272727;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
}

nav a:hover {
  color: #bd7558;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  color: #bd7558;
  position: absolute;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
	color: #bd7558;
  width: 100%;
}

/*End Navigation Bar CSS*/
